* {
    border-radius: 15px;
    border: none;
}

window {
    font-size: 28px;
    font-family: "JetBrains Mono Nerd Font";
    background-color: rgba(26, 27, 38, 0.85);
    color: #E5E9F0;
    border-bottom: 2px solid #87CEEB;
    border-radius: 20px;
}

#entry {
    padding: 0.3em;
    border-radius: 12px;
    margin: 2px 5px;
}

#entry:selected {
    background-color: #87CEEB;
    background: linear-gradient(90deg, rgba(135, 206, 235, 0.8), rgba(122, 162, 247, 0.8));
    border-radius: 12px;
}

#text:selected {
    color: #1a1b26;
}

#input {
    background-color: rgba(26, 27, 38, 0.7);
    color: #E5E9F0;
    padding: 0.4em;
    border-radius: 15px;
    margin: 5px;
    border-bottom: 2px solid #87CEEB;
}

image {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
}
